.book-wrapper {
    display: flex;

    .book-details {
        padding-left: 50px;

        .title {
            font-size: 24px;
            font-weight: bold;
        }

        a {
            font-size: 14px;
        }
    }
}


.label {
    background: rgb(212, 194, 27);
    display: inline-block;
    padding: 2px 7px;
    border-radius: 7px;
    color: white;
}