@use './colors.scss';

* {
  font-family: 'roboto', sans-serif;
}


.pointer {
  cursor: pointer;
}

button,
.clickable {
  &:active {
    transform: scale(0.95);
  }
}

.btn {
  color: white;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  border-radius: 10px;
}

.btn-icon {
  background: colors.$blue;
  width: 48px;

  i {
    font-size: 18px;
  }
}

.btn-yellow {
  background: colors.$yellow;

}

.btn:disabled {
  opacity: 0.5;
  cursor: default;
}

.btn-icon-only {
  background: none;
  color: colors.$gray;

  i {
    font-size: 18px;
  }
}


.flex {
  display: flex;

  &.flex-btw {
    justify-content: space-between;
  }
}


h3 {
  font-weight: 500;
}

.label {
  background: rgb(212, 194, 27);
  display: inline-block;
  padding: 2px 7px;
  border-radius: 7px;
  color: white;
}

button {
  margin: 15px 10px 10px;
  padding: 5px 17px;
  border: none;
  border-radius: 8px;
  background: colors.$main-color;
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;

  &.active {
    border-bottom: 3px solid colors.$main-color;

  }

  &:hover {
    background: lighten(colors.$main-color, 10%)
  }

  &:active {
    background: darken(colors.$main-color, 10%)
  }
}

a {
  text-decoration: underline;
  color: colors.$main-color;
  cursor: pointer;
}